extends ../layout

block content
  if errors
    ul.alert.alert-danger
      each error,i in errors
        li
          span.glyphicon.glyphicon-fire(aria-hidden="true")
          |  #{error.msg}
  .row
    .col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
      h2 Создаём нового пользователя
      form(action="/admin/users", method="post")
        .form-group
          label(for="name") Никнейм
          input.form-control#name(type="text", name="name")
        .form-group
          label(for="email") Электронная почта
          input.form-control#email(type="email", placeholder="mybox@email.com", name="email")
        .form-group
          label(for="pass1") Пароль
          input.form-control#pass1(type="password", name="pass1")
        .form-group
          label(for="pass2") Повторить пароль
          input.form-control#pass2(type="password", name="pass2")
        button.btn.btn-danger(type="submit") Создать пользователя
