extends layout

block content
  .col-xs-12#mainimg
    img.center-block(src="/images/bg.jpg" atl="картиночка")
  script.
    (function(){
      function onresize(){
        if($(window).width()>850){
          if($('#mainimg img').height() > $(window).height() - $('nav').outerHeight() - 70){
            var hei = $(window).height() - $('nav').outerHeight() - 70
            $('#mainimg img').attr('height', hei+'px')
          }else{
            $('#mainimg img').removeAttr("height");
            var pad = $(window).height() - $('nav').outerHeight() - $('#mainimg img').height() - 50
            $('#mainimg').css('padding-top', pad+'px')
          }
        }else{
          $('#mainimg').removeAttr("style");
          $('#mainimg img').removeAttr("height");
        }
      }

      onresize();
      $(window).on('resize', onresize)
    })()
