body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form{
  padding-bottom: 10px
}
#title{
  background: #272727;
  color: #c7cc00;
  border-bottom: 1px solid #333333;
}
#title h1{
  font-size: 14px;
  padding: 0;
  margin: 3px 0;
}
#flash{
  border-top: 2px solid #333333;
  background: #080808;
  color: #92feff;
  padding: 5px
}
a {
  color: #00B7FF;
}
#main{
  padding-top: 15px;
}
.alert-info h3,
.alert-warning h3{
  margin-left: 20px;
  margin: 0;
}
#inpmess{
  width: 95%;
  text-align: center;
}
#inpmess input{
  width: 95%;
}
#messages{
  background: #006d00;
  color: #00ff00;
  border: 1px solid #444444;
  overflow-y: auto;
  overflow-x: hidden;
}
.panel-heading .label{
  margin: 0 0 10px;
  display: block;
}
.btn-danger,
.btn-danger:hover{
    color: #ffffff;
    background-color: #a93333;
    border-color: #fff;
}
.btn-danger:hover{
  box-shadow: 0 0 12px #ffffff
}
ul.alert{
  list-style: none
}
ul.alert li{
  margin: 5px
}
.alert-danger {
  color: #ff9292;
}
.jumbotron>hr {
    border-top: 2px dashed #222;
}
pre.preerr{
  color: #8e0040
}
.panel-heading span{
  padding: 5px
}
.text-muted {
  color: #5a5a5a;
}
.error-details{
  color: #f99ff2;
  padding: 10px;
  background-color: #151017;
}
.has-error label{
  color: #f00
}
