extends ../layout

block content
  if errors
    ul.alert.alert-danger
      each error,i in errors
        li
          span.glyphicon.glyphicon-fire(aria-hidden="true")
          |  #{error.msg}
  .alert.alert-success
    span.glyphicon.glyphicon-info-sign(aria-hidden="true")
    |  Суть скрипта в том, что в текстах/тексте из левой колонки мы ищем что-то, что вы указали для поиска. Когда совпадение найдено, берётся строка справа, и вставляется на месте совпадениея. Дальше ищется следующее совпадение. Если оно находится - берётся следующая строка справа. И так, пока текст слева не закончится.
  form#form(method="post", action="/scripts/avtozamena", enctype="multipart/form-data")
    .col-xs-12#input-top
      .form-group
        label(for="search") Что ищем
        input.form-control#search(type="text", name="search", value= form ? form.search : '')
    .col-xs-8
      .form-group
        label(for="text") Текст
        textarea.js-fixbox.form-control#text(type="text", name="text", placeholder="Есть одно правило, которое я стараюсь соблюдать во что бы то ни стало: всякое дело должно быть доведено до конца тем, кто его начал. Макс Фрай.")= form ? form.text : ''
      .form-group#file
        label(for="myfile") Загрузите файл
        input(type="file", name="myfile")
        p.help-block Если длина текста больше 30 000 знаков, загрузите его в файле
    .col-xs-4
      .form-group
        label(for="right") На что заменяем
        textarea.js-fixbox.form-control(id="right", name="right")= form ? form.right : ''
      button.btn.btn-primary.pull-right(type="submit") Обработать
  script(src="/javascripts/2fields-plusfile-plustopinp.js")
  script(src="/javascripts/anti-bigfields.js")
