extends ../layout

block content
  .alert.alert-success
    span.glyphicon.glyphicon-info-sign(aria-hidden="true")
    |  Разбивает текст на конструкции из синонимов (человек ещё не доделал базу)
  .progress(style="display:none")
    .progress-bar#bar(role="progressbar" style="width: 0%")
  form#form(method="post",action="/scripts/sinonimize")
    .col-xs-12
      .form-group
        label(for="text") Текст
        textarea.form-control#text(name="text", placeholder="Каждый раз, когда я вижу человека, разменявшего уникальное тайное знание на медные горсти, напоминаю себе, что всякая тайна нужна лишь затем, чтобы идти дальше… Макс Фрай")
      a.btn.btn-primary.pull-right#js-deal(href="#", role="button") Обработать
  script(src="/javascripts/1field.js")
  script.
    (function(){
      $('#js-deal').on('click', function(e){
        e.preventDefault();
        $('.progress').show();
        $('#form').hide();
        
        var text = $('#text').val();
        var progress = text.length/100;
        var textLen = text.length;
        var currLen = 0;
        var word = '';
        var isCap = false;
        var afterword = '';
        var newString = '';
        var ajaxResult = '';
        while(textLen>currLen){ // ? textLen+1 ??
          word = /[А-Яа-я-]+/.exec(text)[0];
          text = text.substring(word.length);
          currLen = currLen + word.length;
          $('#bar').css('width', Math.round(currLen/progress)+'%');
          if(word.length>2){
            if(/[А-Я]/.test(word.charAt(0))) isCap = true;
            else isCap = false;
            word = word.toLowerCase();
            
            $.ajax({
              url : '/scripts/sinonimize/word/'+word,
              type : "GET",
              async: false,
              success : function(result){
                if(result){
                  ajaxResult = result;
                  if(isCap) ajaxResult = ajaxResult
                    .split('|')
                    .map(function(x){
                      x = x.charAt(0).toUpperCase() + x.substr(1);
                      return x;
                    })
                    .join('|');
                  ajaxResult = '{'+ajaxResult+'}';
                }else{
                  if(isCap) ajaxResult = word.charAt(0).toUpperCase() + word.substr(1);
                  else ajaxResult = word;
                }
              },
              error: function() {
                if(isCap) ajaxResult = word.charAt(0).toUpperCase() + word.substr(1);
                else ajaxResult = word;
              }
            });
            newString = newString + ajaxResult;
          }else{
            newString = newString + word;
          }
          if(textLen>currLen){
            afterword = /[^А-Яа-я-]+/m.exec(text)[0];
            text = text.substring(afterword.length);
            newString = newString + afterword;
            currLen = currLen + afterword.length;
            $('#bar').css('width', Math.round(currLen/progress)+'%');
          }
          if(textLen<=currLen){
            $("#text").val(newString);
            $('.progress').hide();
            $('#form').show();
          }
        }
      });
    }())
    
